header{
    font-size: 50px;
    color: black;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 15px;
    border: 5px solid aliceblue;
}
.bandas div{
    padding: 20px;
}
.Charly div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    hyphens: inherit;
    color: black;
    
}

.bandas div:hover{
    border: 3px solid rgb(255, 255, 255);
}
.bandas{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5%;
}
h2{
    font-size: 30px;
    font-style: normal;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body{
    background: linear-gradient(#70e2ff,#ffde70, #52ff9a, #ff5555);
}
.Álbumes div:hover{
    border: 3px solid rgb(255, 255, 255);

}
.Álbumes{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Albumes div{
    padding: 15px;
}
footer{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: oblique;
    margin-top: 5%;
}
.clics{
    float: right;
    margin-bottom: 10%;

}
.piano{
    float: right;
    margin-bottom: 10%;
}
.parte{
    float: right;
    margin-bottom: 10%;
}

.yendo{
    float: right;
    margin-bottom: 10%;
}
ol{

    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
li{
    margin-top: 0;
    margin-bottom: 15px;


}
