header{
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    border: 5px solid rgb(176, 210, 255);
}
.bandas div{
    padding: 20px;
}
.Charly div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    hyphens: inherit;
    color: aliceblue;
    margin: 5%;
}

.bandas div:hover{
    border: 2px solid rgb(146, 206, 255);
}
.bandas{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5%;
}
h2{
    font-size: 30px;
    font-style: normal;
    color: rgb(255, 255, 255);
}
body{
    background-color: black;
}
.Álbumes div:hover{
    border: 2px solid rgb(146, 206, 255);

}
.Álbumes{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Albumes div{
    padding: 15px;
}
footer{
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-style: oblique;
    margin: 5%;
}
.clics{
    float: right;
    margin-bottom: 10%;

}
.piano{
    float: right;
    margin-bottom: 10%;
}
.parte{
    float: right;
    margin-bottom: 10%;
}

.yendo{
    float: right;
    margin-bottom: 10%;
}
ol{

    color: whitesmoke;
    font-style: inherit;
}
li{
    margin-top: 0;
    margin-bottom: 15px;
}
